.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    margin-left: 1.3rem;
    margin-top: 1.3rem;
    width: 125px;
    cursor: pointer;
}

/* 
@media screen and (max-width: 768px) {
    .logo {
        width: 90px;
        position: absolute;
        padding: 0px;
        margin-left: 0rem;
        margin-top: 0rem;
    }
}
*/ 
