.container-header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1rem;
}

.container-header i {
    padding-left: 0rem;
    font-size: 1.6rem;
    color: #A55A55;
}

.container-header h3 {
    font-size: 1.2rem;
    padding-left: .4rem;
    margin-bottom: 0rem;
}

.question-container {
    margin-bottom: 1rem;
}

.container-answers {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.question-generator-main-container {
    width: 60%;
}

.container-answers div {
    border: .1rem solid #322B2A;
    border-radius: .6rem;
    margin-bottom: 1rem;
    padding: 0.2rem .7rem;
}

label {
    padding-left: 5px; 
}

.radio-style {
  position: absolute;
  opacity: 0;
}

/* Crea el checkbox personalizado */
.radio-style + label {
  position: relative;
  padding-left: 27px; /* Espacio para el checkbox personalizado */
  cursor: pointer;
}

/* El checkbox personalizado (cuadrado) */
.radio-style + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 23px; /* Tamaño deseado */
  height: 100%; /* Tamaño deseado */
  border: 2px solid #CF4037; /* Color de borde deseado */
  background-color: white;
  border-radius: 3px;
}

/* La marca de verificación que aparece cuando está checked */
.radio-style:checked + label::after {
  content: '';
  position: absolute;
  left: 8px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid #FA3B2D;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}



