.main-container-results {
    padding: 2.3rem 2.3rem 0rem 2.3rem;
    height: 100vh;
}

.content-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.title-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.title-container h1 {
    margin-bottom: 0rem;
}

.container-arrow-go-back {
    position: absolute;
    right: 10px;
    top: 10px;
}

.graphics-main-container {
    position: absolute;
    top: 125px;
}

@media screen and (max-width: 560px) {
    .main-container-results {
        padding: 1rem;
        height: 100vh;
    }

    .graphics-main-container {
        position: absolute;
        top: 140px;
    }
}

.container-history-simulations {
    margin-bottom: 2rem;
}

.simulation-results-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    height: 5%;
}

.check-answers-container {
    position: relative;
}

.exit-test-icon {
    display: flex;
    background-color: transparent;
    padding: 0rem;
    border: none;
}

.exit-test-icon i {
    color: #FA3B2D;
    padding-left: 0rem;
}

.title-check-answers {
    color: #FA3B2D;
    font-size: 1.6rem;
    margin-bottom: 0rem;
}

@media screen and (max-width: 768px) {
    .container-history-simulations {
        padding: 0rem 1.5rem;
    }
}